<div class='main'>
    <h1>{{title}}</h1>
    <h2>The Teamwork Task App</h2>
    <hr/>
    <div class='bullet-points'>
        <ul>
            <li>Asdfqwer anskl</li>
            <li>Hejkle kwen ebfwjkwekf</li>
            <li>Poek: hIefien nfe</li>
            <li>Mummm fehihfhfhfhfh h</li>
            <li>Lweafiowf</li>
            <li>Zhisof</li>
        </ul>
    </div>
</div>