<div class='app'>
    <h2>Welcome, {{username}}</h2>
    <hr/>
    <div>
        <!-- Note to self, change this to a flexbox layout -->
        <!-- Attach click handlers to each task to check the box -->
        <div class='task'>
            <div class='taskname'>Task Name<input type="checkbox"></div>
            <div class='taskdesc'>Task Description goes here</div>
        </div>
        <div class='task'>
            <div class='taskname'>Task Name<input type="checkbox"></div>
            <div class='taskdesc'>Task Description goes here</div>
        </div>
    </div>
</div>