<!DOCTYPE html>
<html>
  <head>
    <title>Kollab</title>
    <link rel='stylesheet' href='stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <div class='footer'>
      Randomly generated inspirational quote here?
    </div>
  </body>
</html>
