/* Global Styles */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eff2f5;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

/* Link Styles */
a {
  color: #00B7FF;
}

/* Text Styles */
h1, h2, h3, h4 {
  color: #E9E9E9;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 1.5em;
}

p {
  color: #939393;
  font-size: 1.2em;
}

hr {
  width: 95%;
}


/* Classes */
.main {
  background-color: #283138;
  border-radius: 2em;
  padding: 2em;
  margin: 5%;
}

.app {
  background-color: #283138;
  border-radius: 2em;
  padding: 2em;
  height: 90%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: floralwhite;
  background-color: #4A67EB;
  text-align: center;
}

.bullet-points {
  margin: 20px;
}

.bullet-points ul {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.bullet-points li {
  color: white;
  font-size: 1.5em;
  padding: 5%;
}

.task {
  border-radius: 0.8em;
  border-width: 2px;
  border-color: red;
  background-color: #ffffff;
  color: coral;
  padding: 5px;

  max-width: 300px;
}

.taskdesc {
  font-style: italic;
}